/* styles.css */
/* -------- Body Begin ------------ */
:root{
  --primary : #f3f3f3;
  --secondry :#ffffff;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #FEFAE0!important;
  max-width: 100vw !important;
  height: 300vh;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  padding-top:60px;
  height: fit-content;
	padding: 1rem;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #5c3d29; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: none; /* Hidden by default */
  margin-top: 350px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*------------ form Container ------------*/
.container{
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}
.bodyContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}
.container {
  padding-left: 0px;
  padding-right: 25px;
  margin: auto;
}
/* -------- Body end ------------ */

/* Book Cover Heading */

/* --------line Begin ------------*/
.line{
  height: 40px;
  background-color: var(--secondry);
  width: 100%;
  margin-top: 120px;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  font-size: 20px !important;
  /* color: gray !important; */
  padding: 10px;
  flex-direction: row;
  box-shadow: 0 0 10px rgb(237, 232, 232);
}
.line .bi-house-door-fill{
  margin-left: 10px;
  color: gray !important;
}
.line .fa-angle-right{
  font-size: 55px;

  /* -webkit-text-stroke: 1px white; */
}
svg {
  width: 21px; /* Adjust to your desired width */
  height: auto;
  color: gray;
  transform: rotate(180deg);
  margin: 10px;
  opacity: .4;
}
.line p{
  margin-bottom: 0;
  padding-right: 10px;
  font-size: 18px;
}

/* -------- line end   ------------ */


/* -------- Filter Begin ------------ */
.filter-section {
  background-color: var(--secondry);
  padding: 20px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  height: fit-content;
  position: sticky;
  top: 10px;
}

.filter-group {
  margin-bottom: 20px;
}
.filter-group label{
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
}

.genreContainer{
  padding: 0;
}
.genre {
  width: 100%;
  background-color: var(--secondry);
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
  transition: border-color 0.2s, color 0.2s; 
}

.genre.active {
  border: 1px solid;
  border-color: rgb(3, 190, 3);
  color: rgb(3, 190, 3);
}


.filter-group .sort {
  font-size: 16px;
}

/* -------- Filter end   ------------ */


/* -------- Book C0ntainer Begins  ------------ */
#book-search-form,  #book-search-form-2{
  text-align: right;
  /* position: fixed; */
  height: fit-content;
  z-index: 1000;
  margin-bottom: 10px;
  margin: auto;
}
#book-search-form-2{
  margin-bottom: 30px;
  display: none;
}
.formElements{
  position: relative;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}
#book-search-input{
  min-width: 250px;
}
.formElements .searchButton {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 0px;
  border: none;
  background-color: transparent;
  top: 11px;
  padding-inline: 12px;
  background-color: brown;
  color: white;
  height: 44px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cards-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Spacing between cards */
  padding: 30px;
  row-gap: 70px;
  width: 100%;
}

.card {
  background-color: var(--secondry) !important;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: auto;
  width: 300px;
  transition: transform 0.3s ease;
  height: 400px;
  margin: 0; 
  padding: 10px;
}

.haveHover.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 300px;
  padding: 30px;
  position: relative;
}

.card-img img {
  position: absolute;
  left: 50%; /**/
  transform: translate(-50%, 0); /**/
  top: -15%;
  height: 316px;
  width: auto;
  max-width: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  cursor: pointer;
  align-items: center;
}
@media (min-width: 400px) {
  .haveHover.card:hover .card-img img {
    top: -40%;
    height: 400px;
    /* width: 300px; */
    max-width: 300px;
    animation: pop 0.3s ease forwards;
  }
}
.card-info {
  margin-bottom: 30px;
  margin-top: auto;
}

.card-info h2 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.card-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-details {
  color: #000;
  border: 1px solid #000;
  transition: 0.3s ease-in-out;
}

.haveHover.btn-details:hover {
  background-color: black;
  color: #fff;
}

.btn-buy {
  background-color: #000;
  color: #fff;
}

.haveHover button:hover {
  opacity: 0.8;
}

/*------------ Cart ------------*/
.cart{
  position: relative;
  height: fit-content;
  width: fit-content;
  z-index: 100;
  display: inline-block;

}
.bi-cart{
  font-size: 25px;
  cursor: pointer;
}
.num{
  position: absolute;
  top:0px;
  font-size: 13px;
  left: 18px;
  background-color: red;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .purchases{
  width: 290px;
  height: fit-content;
  background: linear-gradient(to bottom left ,white, rgb(250, 250, 245));
  position: absolute;
  right: -20px;
  top: 48px;
  z-index: 100;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  visibility: hidden;  /* Initially hidden */
  transition: opacity 0.2s ease;
  padding: 20px;
  /* box-shadow: 0px 0px 10px rgb(224, 218, 218); */
  border: 1px black solid;
}
.noItemsDiv{
  border: 1px #588157 dashed;
  border-radius: 5px;
  padding: 10px;
  color: black !important;
}
.allPurchasedItems{

  border-radius: 5px;
  max-height: 290px;
  overflow-y: auto;
}
.show {
  opacity: 1 !important;
  visibility: visible !important;  /* Make it visible */
}
.purchasedItems{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 2px rgb(128, 128, 128, 0.4) solid;
  padding-bottom: 10px;
}
.purchasedItems .purchasedItemsImg{
  width: 30px;
  
}
.purchasedItemsName{
  text-align: left;
  padding-left: 5px;
}
.purchasedItemsName .purchasedItemsPrice{
  margin-block: 0;
  font-size: 13px;
  color: gray;
}
.purchasedItemsName .purchasedItemsTitle{
  font-size: 14px;
  margin-block: 0;
  color: black;
}
.removeAddedItem{
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
}
.checkout{
  margin-inline: auto;
  margin-top: 20px;
  background-color: #dda15e;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
}
.emptyCart{
  width: 50px;
}
/*---------Books-----------*/
#book-cover-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 80%;
  margin-inline: auto;
}
a{
  color: black;
  text-decoration: none !important;
}
.book{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  width: 216px;
  transition: transform 0.4s;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);
}

.bookImg{
  width: 100%;
  transition: transform 0.2s ease;
  overflow: hidden;
  border-radius: 5px;

}
.bookDescription div{
  width: 100%;
}
.authorName{
  padding-left: 10px;
  margin-top: 0;
  opacity: .8;
}
.bookTitle{
  font-weight: 700;
  padding-left: 10px;

}
.actions{
  cursor: pointer;
  width: 100%;
  text-align: center;
  position: static;
  bottom: 0;
 }
table, th, td {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
tbody{
  width: 256px;
}
td{
  width: 50%;
  text-align: center;
}

table p{
  margin-block: 10px;
  padding-inline: 5px;
}



.AddedNotification{
  position: fixed;
  background: linear-gradient(to right, rgb(244, 244, 242),rgb(251, 251, 241));
  color: black;
  border: 1px solid black;
  left: 35%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 2s linear;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 400px;
  gap: 10px;
  box-shadow: 0px 0px 10px gray;
  padding: 15px 10px;
  
}
@keyframes appear {
  0% { top: -20%; }
  30% { top: 5px; }  /* Stay at the visible position for longer */
  70% { top: 5px; }  /* Stay visible */
  100% { top: -20%; }
}
.doneGif{
  display: inline-block;
  width: 30px;
  height: 30px;
}
/*----------- Pop over Description -------------*/
.blackScreen{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transition: opacity .2s;
}
.popoverr {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-block: auto;
  z-index:10000; /* Ensure it's above everything */
  pointer-events: auto; /* To make it interactable */
  opacity: 0;
  transition: opacity .2s;
  display: none; /* Initially hidden */
  overflow-y: scroll;
  overflow: auto;
  visibility: hidden;
  background-color: transparent !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 100%;
}
.popoverr-visible {
  display: flex !important; 
  justify-content: center;
  align-items: center;
  transition: opacity .2s;
  visibility: visible;
}
.desc-active {
  pointer-events: none; /* Disable interactions with underlying elements */
}
.hideDescription {
  position: relative;
  align-self: flex-end;
  /* border: 1px solid black !important; */
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 20px !important;
}
.descriptionBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: rgb(248, 233, 233);
  position: relative;
  border-radius: 5px;
  padding: 20px;
  max-height: 70vh;
  overflow: auto;
}
.descText {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  overflow-y: auto;
  max-height: 80%;
  font-size: 13.5px;
  font-weight: 400;
  max-height: 200px;
}
.descriptionImage{
  max-height: 320px;
  max-width: 210px;
  align-self: center;
  border-radius: 5px;
  min-width: 200px;
}
.descriptionBookDetails{
  display: flex;
  gap: 20px;
}
a{
  display: block;
}
.moreDetails{
  background-color: #344e41;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;

}
.bookDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
flex-grow: 1;
  }
/* .popoverr{
  display: flex;
} */
 .navbar-toggler{
  display: none;
 }
@media screen  and (width < 800px) {
  .showDescription{

    top: 80%;
    right:100px;
  }
  .book a {
    display: flex;
    justify-content: center;

  }
  
  .book p{
    margin: 0px;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  .bookTitle{
    text-align: center;
  }
  .book_img{
  width: 100% !important;
  height: auto !important;
  }

  .descriptionBookDetails{
    flex-direction: column;
  }

}
@media (max-width: 768px) {
  .filter-group label {
      font-size: 14px;
  }
  nav.navbar{
    /* margin-left: auto; */
    display: none;
  }
  .navbar-toggler{
    border: none !important;
    padding-left: 0 !important;
    display: block;
    text-align: right;

  }
  .navbar-toggler:focus{
    outline: none !important;
    box-shadow: none !important;
  
  }
  .navbar-toggler.focus{
    outline: none !important;
  }
  .label1 {
      font-size: 18px;
  }

  .label2, .sort {
      font-size: 16px;
  }

  input[type="text"], select {
      font-size: 14px;
  }
  .filter-section{
    display: none;
  }
  nav.navbar{
    display: block;
  }
  .offcanvas{
    max-width: 250px !important;
  }
  .line{
    margin-bottom: 20px;
    justify-content: space-between;
  }
  #book-search-form-2{
    display: block !important;
    max-width: 400px;
  }
  .mobileHide{
    display: none;
  }
}
@media (max-width: 400px) {
  .cards-container{
    padding-inline: 0;
  }
  .btn-buy{
    width: 131px;
  }
}