* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  transform: translateY(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  position: fixed;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

/* Preloader styles */
/* .loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  z-index: 9999; 
}

.loader .img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.pre-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Hide content initially */
#main-content {
  transition: 1s;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* Navbar Container */
div.navbar {
  /* position: fixed; */
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 290px;
  width: 25%;
  z-index: 1000;

}

/* Left Menu Icon */
.menu-icon {
  font-size: 20px;
  cursor: pointer;
}


/* Navbar title */
.navbar-title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

/* Info Icon */
.info-icon {
  font-size: 16px;
  cursor: pointer;
}
/* Dropdown Menu */
.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 57px;
  min-width: 290px;
  width: 25%;
  background-color: #fefefe;
  border: 1px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1000000;
  border-top: none
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: #000;
  width: 70%;
  text-align: center;
  border-bottom: 1px dashed #000;
}

.nobord {
  border: none !important;
}

.menu a:hover {
  background-color: #f4f4f4;
}

/* Toggle button for mobile */
.menu-icon {
  cursor: pointer;
}

/* Styling the lines for the icon */
.menu-icon span {
  display: block;
  height: 1px;
  margin: 5px 0;
  width: 20px;
  background-color: #000;
}

/* Class to show menu */
.menu.show {
  display: flex;
}

#dropdownMenu {
  display: none;
}

#dropdownMenu.show {
  display: flex;
}
